@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
  outline: 0 !important;
}

a,
button {
  cursor: pointer;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/Poppins/Poppins-Light.ttf");
}
